$myFont: Georgia;
$myTextAlign: center;
$myFontWeight: bold;

.container {
    text-align: $myTextAlign
}

h2 {
  text-shadow: 1px 1px 2px purple;
}

.container ul li {
  color: hotpink;
  font-family: $myFont;
  text-align: $myTextAlign;
  font-weight: $myFontWeight;
  font-size: 35;
  list-style-position: inside;
  margin: 10px 0;
}