.container {
    background: #0b2ff7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    div {
        justify-content: center;
        align-items: center;
    }
  }